/* Background image*/
header{
    background-image: url(./Assets/Images/backgroundheader.png);
    background-size: cover;
    height: 80vh;
}
/*Mise en place du menu*/
nav {
    width: 50%;
    height: 4vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
#iconemenu{
    width: 8%;
    display: flex;
    justify-content: space-between;
}
#iconemenu p a{
    align-items: center;
    color: white
}
/* fin de menu*/
/* Intro */
#intro{
    width: 70%;
    margin-top: 280px;
    margin-left: 350px;
    text-align: center;
    position: absolute;
    z-index: 2;
}
h1{
    width: 50%;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 55px;
}
h1::before{
    margin-bottom: 5px;
    content: "Unique and modern Design";
    display: block;
    font-size: 40px;
}

#intro p{
    width: 50%;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    padding-top: 20px;
}
#intro button {
    margin-top: 20px;
    width: 15%;
    height: 4vh;
    border-radius: 5px;
    border: #716050;
    background-color: #998675;
    border-block-end: solid 4px rgba(83, 63, 44, 0.5);
}
#intro button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
/* flèches header*/
#fleches{
    margin-left: 115px;
    margin-top: 300px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    color: white;
    z-index: 1;
    position: relative;
}
/* Fin de flèches*/
/* Nav à point pour les photos*/
#slidenav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 420px;
}
.dot{
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #EBDED3;
}
/* point actif pour maquette*/
#dotactive{
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #998675;
    border: solid 2px white;
}
.dot:active{
    background-color: #998675;
    border: solid 2px white;
}
/* fin des points */
/* Icône et service proposé */
#fonction{
    padding-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
/* Design icone et fonction non active */
.describe{
    text-align: center;
}
.describe p{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
.describe hr{
    width: 30%;
    color: #71605050;
}
/* Fonction active */
#describeactive{
    text-align: center;
    color: #716050;
}
#describeactive p{
    width: 80%;
    margin: auto;
    color: #716050;
    padding-bottom: 20px;
}
#describeactive hr{
    width: 30%;
    color: #716050;
}
/* Screenshot et index mise en place du titre et du texte */
#screenshot h2{
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
}
#screenshot p{
    text-align: center;
    padding-bottom: 50px;
}
/* fin d'entête screenshot */
/* Début design carrousel index */
#index{
    width: 35%;
    display: flex;
    margin-left: 510px
}
#z3{
    width: 30%;
    z-index: 3;
}
#z2{
    width: 30%;
    z-index: 2;
    margin-left: 50px;
}
#z1{
    width: 30%;
    z-index: 1;
    margin-right: 500px;
}  
/* fin index */
/* début du gradiant avec bouton */
#gradiant{
    width: 100%;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 0, 0),#533F2C);
    margin-top: -5px;
    height: 10vh;
}
#wordpress{
    width: 52%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* mise en exergue du mot waxom*/
#waxcolor{
    color: #998675 ;
}
#wordpress p{
    color: #998675;
    font-size: 20px;
}
#wordpress h2{
    margin-top: 35px;
    margin-bottom: none;
    font-size: 30px;
}
/* Bouton purchase */
#wordpress button {
    margin-top: 40px;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: #716050;
    background-color: #998675;
    border-block-end: solid 4px rgba(83, 63, 44, 0.5);
}
#wordpress button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
/* entête galerie image */
#project h2{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}
#project p{
    text-align: center;
}
/* Navigation des fonctions */
.navpro{
    padding-top: 20px;
    width: 22%;
    margin: auto;
}
.navpro ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navpro ul li{
    border: solid 2px #998675;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}
.navpro ul li a{
    color: #716050;
    text-decoration: none;
}
/* Onglet actif */
#active li a{
    color: white;
}
#active li{
    background-color: #716050;
}
/* Hover des onglets */
.navpro ul li:hover{
    background-color: #716050;
}
.navpro ul li a:hover{
    color: white;
}
/* Première ligne galerie d'image*/
#ligne1{
    display: flex;
    width: 55%;
    margin: auto;
}
#ligne1 figure{
    background-color: rgba(199, 180, 162, 0.25);
}

#ligne1 figcaption h2{
    color: #998675 ;
    margin-left: 20px;
}
#ligne1 figcaption p{
    color: rgb(158, 158, 158);
    margin-left: 20px;
}
/* Fin de première ligne galerie d'image*/
#imgactive{
    display: flex;
    width: 55%;
    margin: auto;
}
#imgactive figure img{
    filter: brightness(50%);
}
#imgactive figure{
    background-color: #47301A;
    color: rgba(83, 63, 44, 0.5);
}
#imgactive figcaption h2{
    color: #ffffff ;
    margin-left: 20px;
}
#imgactive figcaption p{
    color: rgb(158, 158, 158);
    margin-left: 20px;
}
#imgactive i{
    color: white;
    position: relative;
    top: 20px;
}
/* Début de la deuxième ligne de la galerie d'image*/
#ligne2{
    display: flex;
    width: 55%;
    margin: auto;
}
#ligne2 figure{
    background-color: rgba(199, 180, 162, 0.25);
}
#ligne2 figcaption h2{
    color: #998675 ;
    margin-left: 20px;
}
#ligne2 figcaption p{
    color: rgb(158, 158, 158);
    margin-left: 20px;
}
/* Fin de deuxième ligne */